<nav-bar></nav-bar>
<div class="actContainer">
  <h1>Add a New Dream</h1>
  <p ng-model='error'>{{error}}</p>

  <p>
    Find a new dream:
  </p>
  <!--Enter text to filter activities-->
  <input type='text' ng-model='filterBy' placeholder='Enter filter word'></input>

  <div class="activities-list">
    <div class="activity" ng-click="addMeToEvent()" ng-repeat="activity in events | filter: filterBy">
      <!--clicking activity adds activity to current user's profile-->
      <p class="activity-name" ng-click="addMeToEvent()"> {{activity.actname}}</p>
      <p class="activity-description">About: {{activity.actdesc}}</p>
    </div>
  </div>



  <p>
    Can't find your dream on the list? Create a new one!
  </p>
  <input type='text' ng-model='newDreamName' placeholder='Dream name'/>
  <input type='text' ng-model='newDreamDescription' placeholder='Dream description' />
  <button ng-click="createNewActivity(newDreamName, newDreamDescription)">
    Create New Dream
  </button>


</div>
