<div class="usercontainer">
  <header>
    <h1>{{username | uppercase }}'s Bucket List</h1>
  </header>
  <div class="profilepic" >
    <img ng-src={{image}} />
     <div class='desc'>
    <p>Bio: {{bio}}</p>
    <h4 ng-click="showDetails = ! showDetails">Update bio</h4>
    <form novalidate ng-show="showDetails">
      <input ng-model="bio">
      <!-- The method for submitting the data goes on the button. -->
      <input type="submit" ng-click="updateBio(bio); showDetails = ! showDetails" value="Click to submit">
    </form>
  </div>
  </div>
   <div class='list'>
    <h3>Todo Dreams</h3>
    <div  ng-click='activityView()' ng-repeat='activity in activities'>
      <div class="listItems">
      {{activity.actname}}
      </div>
  </div>
  <!--<div class='list'>
    <h3>Achieved Dreams</h3>
    <div ng-repeat="activity in completed">-->
  </div>
  <div class='addDreamButton'>
    <button ng-click="addActivity()">Add Dream</button>
  </div>
</div>
